/**** FORSIDE ****/

.menu {
    display: flex;
    height: 35px;
    width: 100vw;
    padding-top: 27px;
    padding-left: 830px;
    background-color: rgba(128, 128, 128, 0.14);
}

.menu a {
    display: flex;
    padding-left: 40px;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}


/****** burger menu   *****/



/******    header    ******/

.lille_logo {
    display: flex;
    width: 150px;
    height: 40px;
    position: absolute;
    left: 18rem;
    top: 1rem;
}

#forside_header {
    margin-top: 160px;
}

#forsideknap {
    margin-bottom: 350px;
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    border: solid 3px black;
    background-color: rgba(255, 255, 255, 0.62);
    width: 300px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
    font-size: 1.3rem;
    padding: 25px;
}

@media screen and (max-width: 700px) {
    .button {
        margin-top: 80px;
    }
}

.button a {
    text-decoration: none;
    color: black;
    padding-left: 40px;
}


/******    OM    *******/


#om_boks {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 80px;
    height: 900px;
}

.tekstboks {
    padding: 30px;
    padding-bottom: 70px;

    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    width: 820px;
    height: 780px;
    line-height: 1.4rem;
}

.tekstboks h2 {
    padding-bottom: 8px;
    font-size: 2rem;
    text-align: center;
    font-variant: small-caps;
    line-height: 1.8rem;
}

.tekstboks p {
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Montserrat', sans-serif;
}

.tekstboks_billede {
    text-align: center;
    padding-right: 60px;
    padding-left: 50px;
}

@media screen and (min-width: 700px) {

    #om_boks {
        height: 700px;
    }

    .tekstboks {
        height: 650px;
    }

    .tekstboks h2 {
        margin-bottom: 50px;
    }

    .tekstboks p {
        padding-left: 55px;
        padding-right: 55px;
        line-height: 1.5rem;
    }
}


/****     FILTER SIDE   *****/


img {
    max-width: 100%;
}

body {
    margin: 0;
    background-color: #e5e5e5;
    background-image: url(logo/test5.jpg);
    background-attachment: fixed;
}

header {
    text-align: center;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    display: flex;
    position: absolute;
    height: 50px;
    text-align: center;
    margin-top: 50px;
}

.footer_boks {
    display: flex;
    background-color: rgba(123, 123, 123, 0.32);
    width: 100vw;
    padding-left: 15px;
    bottom: 0 auto;
}

.footer_tekst_1 {
    padding-right: 70px;
    font-family: 'Montserrat', sans-serif;
}

.footer_tekst_2 {
    font-family: 'Montserrat', sans-serif;
}

#sectionwrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -30px;
}

nav {
    display: flex;
    width: 800px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    font-family: 'Roboto Mono', monospace;
    background-color: white;
    align-self: center;
}


.filter_kategori {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

/*
.filter_ekstra {
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
}
*/

.container img {

    filter: grayscale(100%);
}

.container img:hover {
    filter: saturate(8);
}

#popup {
    display: none;
    position: fixed;
    top: 10px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    padding: 40px;
    margin-right: 40px;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
}

#popup img {
    width: 50%;
}

#popup a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#popup a:hover {
    text-decoration: none;
    color: #FF00E2;
    font-family: 'Montserrat', sans-serif;
}


.enkeltSite {
    text-align: center;
}

.enkeltSite p {
    padding-left: 250px;
    padding-right: 250px;
}

.lukpopup {
    right: 0;
    font-size: 30px;
}


button {
    color: black;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    border-left: none;
    border: none;
}

.filter_ekstra button {
    display: none;
    border: none;
    color: black;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
    border-bottom: 1px solid #FF00E2;
}

#templateModtager {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    max-width: 800px;
    grid-gap: 10px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    background-color: white;
    align-self: center;
}


.container {
    padding: 10px;
}

article img {
    border: 1px solid #f0f0f0;
}

@media screen and (max-width: 700px) {
    nav {
        width: 100vw;
        height: 38px;
        margin-top: 85px;
        padding-top: 14px;
    }

    #popup {
        width: 340px;
        height: 500px;
    }

    .enkeltSite p {
        width: 350px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 25px;
        line-height: 1.4rem;
        font-size: 0.9rem;
    }

    #popup img {
        padding-bottom: 40px;
        padding-top: 10px;
        border: none;
        width: 90%;
    }

    .enkeltSite a {
        border: dotted black 0.1px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 20px;
        padding-right: 20px;
    }
}



@media screen and (min-width: 700px) {

    #templateModtager {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    nav {
        display: flex;
        text-align: center;
        background-color: white;
        justify-content: space-around;
        padding: 10px;
    }

    header {
        margin: 80px;
    }

    #popup {
        display: none;
        position: fixed;
        top: 10px;
        background-color: white;
        border: 1px solid black;
        text-align: center;
        padding: 40px;
        margin: 0;
        margin-right: 119px;
    }
}

@media screen and (min-width: 1200px) {

    #templateModtager {
        max-width: 800px;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        /*
                margin-left: 250px;
                margin-right: 250px;
*/
    }

    nav {
        display: flex;
        text-align: center;
        background-color: white;
        padding-left: 40px;
        padding-right: 40px;
        justify-content: space-around;
    }

    header {
        margin-left: 250px;
        margin-right: 250px;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    #popup {
        display: none;
        position: fixed;
        top: 10px;
        background-color: white;
        border: 1px solid black;
        text-align: center;
        padding: 40px;
        margin: 0;
        margin-right: 119px;
    }
}
