/**** FORSIDE ****/

.valgt {
    border-bottom: 1px solid #FF00E2;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

nav {
    width: 100vw;
    text-align: right;

}


#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.24);
    text-align: right;
    padding: 20px;
}

.burger_knap {
    padding-right: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
}

#menu a {

    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.filter_kategori {
    margin-bottom: 10px;
}

#templateModtager {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    max-width: 400px;
    grid-gap: 10px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    background-color: white;
    align-self: center;
}

#sectionwrapper h1 {
    text-align: center;
}


#popup {
    display: none;
    position: fixed;
    z-index: 1;
    width: 300px;
}

.indhold {
    width: 100%;

}

.enkeltSite img {
    width: 200px;
    margin-bottom: 30px;

}

.enkeltSite a {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
}

.enkeltSite {
    width: 100%;
}

.enkeltSite p {
    width: 100%;
    margin-top: 20px;
}






/****** burger menu   *****/




/******    header    ******/

#forside_header {
    margin-top: 20px;
    margin-bottom: 50px;
}

#forsideknap {
    margin-bottom: 350px;
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    border: solid 3px black;
    background-color: rgba(255, 255, 255, 0.62);
    width: 300px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
    font-size: 1.3rem;
    padding: 25px;
}

footer {
    width: 100vw;
    margin: 0;

}

@media screen and (min-width: 700px) {




    #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgba(128, 128, 128, 0.24);
        text-align: right;
        padding: 20px;
    }



    #menu a {
        display: flex;
        padding-left: 40px;
        text-decoration: none;
        color: black;
        font-family: 'Montserrat', sans-serif;
    }

    .button {
        margin-top: 80px;
    }

    #templateModtager {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: white;
        max-width: 800px;
        grid-gap: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        background-color: white;
        align-self: center;
    }

    .filter_kategori {
        width: 840px;
        align-self: center;
    }

    #popup {
        display: none;
        position: fixed;
        z-index: 1;
        width: 800px;
    }

    .indhold {
        width: 100%;

    }

    .enkeltSite img {
        width: 200px;
        margin-bottom: 30px;

    }

    .enkeltSite a {
        width: 100%;
        border: 1px solid black;
        padding: 10px;
        margin-top: 20px;
    }

    .enkeltSite {
        width: 100%;
    }

    .enkeltSite p {
        width: 100%;
        margin-top: 20px;
    }




}

.button a {
    text-decoration: none;
    color: black;
    padding-left: 40px;
}





/******    OM    *******/


#om_boks {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 80px;
    height: 900px;
}

.tekstboks {
    padding: 30px;
    padding-bottom: 70px;

    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    width: 820px;
    height: 780px;
    line-height: 1.4rem;
}

.tekstboks h2 {
    padding-bottom: 8px;
    font-size: 2rem;
    text-align: center;
    font-variant: small-caps;
    line-height: 1.8rem;
}

.tekstboks p {
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Montserrat', sans-serif;
}

.tekstboks_billede {
    text-align: center;
    padding-right: 60px;
    padding-left: 50px;
}


/*KONTAKT SIDE*/

#kontakt_boks {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 80px;
    height: 900px;
}

.tekstboks {
    padding: 30px;
    padding-bottom: 70px;

    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    width: 820px;
    height: 780px;
    line-height: 1.4rem;
}

.tekstboks h2 {
    padding-bottom: 8px;
    font-size: 2rem;
    text-align: center;
    font-variant: small-caps;
    line-height: 1.8rem;
}

.tekstboks p {
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Montserrat', sans-serif;
}

.tekstboks_billede {
    text-align: center;
    padding-right: 60px;
    padding-left: 50px;
}

/****     FILTER SIDE   *****/


img {
    max-width: 100%;
}

body {
    margin: 0;
    background-color: #e5e5e5;
    background-image: url(logo/test5.jpg);
    background-attachment: fixed;
}

header {
    text-align: center;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    display: flex;
    position: absolute;
    height: 50px;
    text-align: center;
    margin-top: 50px;
}

.footer_boks {
    display: flex;
    background-color: rgba(123, 123, 123, 0.32);
    width: 100vw;
    padding-left: 15px;
    bottom: 0 auto;
}

.footer_tekst_1 {
    padding-right: 70px;
    font-family: 'Montserrat', sans-serif;
}

.footer_tekst_2 {
    font-family: 'Montserrat', sans-serif;
}

#sectionwrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}




.filter_kategori {
    display: flex;
    justify-content: space-around;
    background-color: white;
}


.container img {

    filter: grayscale(100%);
}

.container img:hover {
    filter: saturate(8);
}

#popup {
    display: none;
    position: fixed;
    top: 10px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    padding: 40px;
    margin-right: 40px;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
}

#popup img {
    width: 50%;
}

#popup a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#popup a:hover {
    text-decoration: none;
    color: #FF00E2;
    font-family: 'Montserrat', sans-serif;
}


.enkeltSite {
    text-align: center;
}


.lukpopup {
    right: 0;
    font-size: 30px;
}


button {
    color: black;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    border-left: none;
    border: none;
}

.filter_ekstra button {
    display: none;
    border: none;
    color: black;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
    border-bottom: 1px solid #FF00E2;
}


.container {
    padding: 10px;
}

article img {
    border: 1px solid #f0f0f0;
}


@media screen and (min-width: 1200px) {

    #templateModtager {
        max-width: 800px;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }

    .filter_kategori {
        display: flex;
        justify-content: space-around;
        background-color: white;
        width: 840px;
        align-self: center;
    }

    #sectionwrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
    }



    #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 100px;
        background-color: rgba(128, 128, 128, 0.24);
        text-align: right;
        padding: 20px;
    }

    header {
        margin-left: 250px;
        margin-right: 250px;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    #popup {
        display: none;
        position: fixed;
        top: 10px;
        background-color: white;
        border: 1px solid black;
        text-align: center;
        padding: 40px;
        margin: 0;
        margin-right: 119px;
    }
}
